<div class="mfn-main-slider" id="mfn-rev-slider">
    <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; margin-top: 0px; margin-bottom: 0px; max-height: 750px;">
      <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="display: none; max-height: 750px; height: 750px">
        <ul>
          <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="on">
            <img src="../../../assets/images/slide-beauty-bg.png" alt="bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
            <div class="tp-caption lfl" data-x="center" data-hoffset="250" data-y="bottom" data-voffset="20" data-speed="1300" data-start="500" data-easing="Power3.easeInOut" style="z-index: 5">
              <img src="../../../assets/images/labios-botox.jpeg" alt="woman" />
            </div>
            <div class="tp-caption mfnrs_beauty tp-fade tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="-71" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" style="z-index: 6; white-space: nowrap;">
              We take care of<br />your beauty
            </div>
            <div class="tp-caption tp-fade" data-x="center" data-hoffset="320" data-y="center" data-voffset="-54" data-speed="1000" data-start="1600" data-easing="Bounce.easeOut" style="z-index: 7">
              <img src="../../../assets/images/slide-beauty-2.png" alt="petal" />
            </div>
            <div class="tp-caption tp-fade" data-x="center" data-hoffset="63" data-y="center" data-voffset="-92" data-speed="1000" data-start="1900" data-easing="Bounce.easeOut" style="z-index: 8">
              <img src="../../../assets/images/slide-beauty-3.png" alt="petal" />
            </div>
            <div class="tp-caption tp-fade" data-x="center" data-hoffset="-70" data-y="center" data-voffset="-56" data-speed="1000" data-start="2200" data-easing="Bounce.easeOut" style="z-index: 9">
              <img src="../../../assets/images/slide-beauty-4.png" alt="petal" />
            </div>
            <div class="tp-caption tp-fade" data-x="center" data-hoffset="38" data-y="center" data-voffset="-120" data-speed="1000" data-start="2500" data-easing="Bounce.easeOut" style="z-index: 10">
              <img src="../../../assets/images/slide-beauty-5.png" alt="petal" />
            </div>
            <div class="tp-caption tp-fade" data-x="center" data-hoffset="-37" data-y="center" data-voffset="-97" data-speed="1000" data-start="2800" data-easing="Bounce.easeOut" style="z-index: 11">
              <img src="../../../assets/images/slide-beauty-6.png" alt="petal" />
            </div>
            <div class="tp-caption lft tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="45" data-speed="1000" data-start="3100" data-easing="Bounce.easeOut" style="z-index: 12; white-space: nowrap;">
              <a href="#" class="button button_theme">See our offer</a>
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
      </div>
    </div>
  </div>
  
  <div class="section" style="padding-top: 80px; padding-bottom: 40px;">
    <div class="container">
      <div class="column one column_column">
        <div class="fancy_heading" style="text-align: center; margin-bottom: 40px;">
          <h2 class="title">What can we do for you?</h2>
          <div class="elegant-detail"></div>
          <p class="inside" style="color: #777;">
            We take care of your skin and we can make you happy like never before. Need more? Contact us!
          </p>
        </div>
      </div>
  
      <div class="column one-third column_image">
        <div class="image_frame image_item no_link scale-with-grid aligncenter has_border">
          <div class="image_wrapper">
            <img class="scale-with-grid" src="assets/images/home_beauty_offer1.jpg" alt="1st step" />
          </div>
        </div>
      </div>
      <div class="column one-third column_image">
        <div class="image_frame image_item no_link scale-with-grid aligncenter has_border">
          <div class="image_wrapper">
            <img class="scale-with-grid" src="assets/images/home_beauty_offer2.jpg" alt="2nd step" />
          </div>
        </div>
      </div>
      <div class="column one-third column_image">
        <div class="image_frame image_item no_link scale-with-grid aligncenter has_border">
          <div class="image_wrapper">
            <img class="scale-with-grid" src="assets/images/home_beauty_offer3.jpg" alt="3rd step" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section section-highlight" style="padding-top: 60px; padding-bottom: 40px; background-color: var(--white-soft);">
    <div class="container">
      <div class="column one column_column">
        <div class="fancy_heading" style="text-align: center; margin-bottom: 50px;">
          <h2 class="title">We know what is best for your health & beauty</h2>
          <div class="elegant-detail-animated"></div>
        </div>
      </div>
  
      <div class="column one column_feature_list">
        <div class="feature_list">
          <ul style="display: flex; justify-content: space-around; flex-wrap: wrap; list-style: none; padding: 0;">
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-food" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Hot meals</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-leaf" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Guarana and lemongrass</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-cup" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Yerba Mate</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-gauge" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Daily running</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-heart" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Plan for healthy eating</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-beaker" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Natural cosmetics</p>
              </a>
            </li>
            <li style="text-align: center; width: 14%;">
              <a href="#">
                <i class="icon-chart-line" style="font-size: 40px; color: var(--pink-main); margin-bottom: 15px; display: block;"></i>
                <p>Results monitoring</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
