<div id="Header_wrapper">
  <header id="Header">
    <div id="Action_bar">
      <div class="container">
        <div class="column one">
          <ul class="contact_details">
            <li class="slogan" style="color:#bfa046;">Have any questions?</li>
            <li class="phone" style="color:#bfa046;">
              <i class="icon-phone"></i><a href="tel:+61383766284" style="color:#bfa046;">+61 383 766 284</a>
            </li>
            <li class="mail" style="color:#bfa046;">
              <i class="icon-mail-line"></i><a href="mailto:noreply&#64;envato.com" style="color:#bfa046;">noreply&#64;envato.com</a>
            </li>
          </ul>
          <ul class="social">
            <li>
              <a href="#" title="Facebook">
                <i class="fab fa-facebook-f" style="color:#bfa046;"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Instagram">
                <i class="fab fa-instagram" style="color:#bfa046;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="Top_bar">
      <div class="container">
        <div class="column one">
          <div class="top_bar_left clearfix">
            <div class="logo">
              <h1>
                <a id="logo" href="/" title="BeBeauty - BeTheme">
                  <img class="scale-with-grid" src="assets/images/rome-logo-blanco.webp" />
                </a>
              </h1>
            </div>
            <div class="menu_wrapper">
              <nav id="menu">
                <ul id="menu-main-menu" class="menu">
                  <li class="current_page_item">
                    <a href="/"><span>Home</span></a>
                  </li>
                  <li>
                    <a href="#"><span>About us</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Our offer</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Careers</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Contact us</span></a>
                  </li>
                </ul>
              </nav>
              <a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
            </div>
            <div class="search_wrapper">
              <form method="get" action="#">
                <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                <input type="text" class="field" name="s" placeholder="Enter your search" />
                <input type="submit" class="submit flv_disp_none" value="" />
              </form>
            </div>
          </div>
          <div class="top_bar_right">
            <div class="top_bar_right_wrapper">
              <a href="#" class="button button_theme button_js action_button"><span class="button_label">Book a visit now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mfn-main-slider" id="mfn-rev-slider">
      <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; margin-top: 0px; margin-bottom: 0px; max-height: 750px;">
        <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="display: none; max-height: 750px; height: 750px">
          <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="on">
              <img src="assets/images/slide-beauty-bg.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
              <div class="tp-caption lfl" data-x="center" data-hoffset="250" data-y="bottom" data-voffset="20" data-speed="1300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5">
                <img src="assets/images/labios-botox.jpeg" alt="Labios Botox" style="display:block;margin:0 auto;max-width:100px;width:100%;height:40px;border-radius:18px;box-shadow:0 4px 16px rgba(0,0,0,0.15);object-fit:cover;object-position:center;" />
              </div>
              <div class="tp-caption mfnrs_beauty tp-fade tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="-71" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                We take care of
                <br />
                your beauty
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="320" data-y="center" data-voffset="-54" data-speed="1000" data-start="1600" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7">
                <img src="assets/images/slide-beauty-2.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="63" data-y="center" data-voffset="-92" data-speed="1000" data-start="1900" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8">
                <img src="assets/images/slide-beauty-3.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="-70" data-y="center" data-voffset="-56" data-speed="1000" data-start="2200" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9">
                <img src="assets/images/slide-beauty-4.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="38" data-y="center" data-voffset="-120" data-speed="1000" data-start="2500" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10">
                <img src="assets/images/slide-beauty-5.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="-37" data-y="center" data-voffset="-97" data-speed="1000" data-start="2800" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11">
                <img src="assets/images/slide-beauty-6.png" />
              </div>
              <div class="tp-caption lft tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="45" data-speed="1000" data-start="3100" data-easing="Bounce.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                <a href="#" class="tp-button button button_theme">See our offer</a>
              </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="on">
              <img src="assets/images/slide-beauty-bg.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
              <div class="tp-caption lfl" data-x="center" data-hoffset="250" data-y="bottom" data-voffset="20" data-speed="1300" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5">
                <img src="assets/images/slide-beauty-1.png" />
              </div>
              <div class="tp-caption mfnrs_beauty tp-fade tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="-71" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                We take care of
                <br />
                your beauty
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="320" data-y="center" data-voffset="-54" data-speed="1000" data-start="1600" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7">
                <img src="assets/images/slide-beauty-2.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="63" data-y="center" data-voffset="-92" data-speed="1000" data-start="1900" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8">
                <img src="assets/images/slide-beauty-3.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="-70" data-y="center" data-voffset="-56" data-speed="1000" data-start="2200" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9">
                <img src="assets/images/slide-beauty-4.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="38" data-y="center" data-voffset="-120" data-speed="1000" data-start="2500" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10">
                <img src="assets/images/slide-beauty-5.png" />
              </div>
              <div class="tp-caption tp-fade" data-x="center" data-hoffset="-37" data-y="center" data-voffset="-97" data-speed="1000" data-start="2800" data-easing="Bounce.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11">
                <img src="assets/images/slide-beauty-6.png" />
              </div>
              <div class="tp-caption lft tp-resizeme" data-x="center" data-hoffset="-270" data-y="center" data-voffset="45" data-speed="1000" data-start="3100" data-easing="Bounce.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                <a href="#" class="tp-button button button_theme">See our offer</a>
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom flv_viz_hid"></div>
        </div>
      </div>
    </div>
  </header>
</div>
